 <link rel="stylesheet" href="/css/home.css"/>
 <h1><%= title%></h1>
 <div class="fluid-container">
  <div class="row">
    <div class="col">
      <div class="shadow-sm p-3 mb-5 bg-body rounded">
         <div class="box">
          <div class="box1">
            <img src="/images/Ashish.jpg" alt="">
          </div>
          <div class="box2">
            <h5>Ashish Kumar</h5>
          </div>
         </div>

         <div class="box">
          <div class="box1">
            <img src="/images/Ashish.jpg" alt="">
          </div>
          <div class="box2">
            <h5>Ashish Kumar</h5>
          </div>
         </div>

         <div class="box">
          <div class="box1">
            <img src="/images/Ashish.jpg" alt="">
          </div>
          <div class="box2">
            <h5>Ashish Kumar</h5>
          </div>
         </div>

         <div class="box">
          <div class="box1">
            <img src="/images/Ashish.jpg" alt="">
          </div>
          <div class="box2">
            <h5>Ashish Kumar</h5>
          </div>
         </div>

         <div class="box">
          <div class="box1">
            <img src="/images/Ashish.jpg" alt="">
          </div>
          <div class="box2">
            <h5>Ashish Kumar</h5>
          </div>
         </div>

         <div class="box">
          <div class="box1">
            <img src="/images/Ashish.jpg" alt="">
          </div>
          <div class="box2">
            <h5>Ashish Kumar</h5>
          </div>
         </div>


      </div>

    </div>
    <div class="col">
      <div class="shadow p-3 mb-5 bg-body rounded"> 
        <div id="home-container">
          <section id="feed-post">
            <h4>Post</h4>
            <% if(locals.user){%>
            <form action="/post/create" id="new-post-data" method="post">
              <textarea name="content" cols="30" rows="3" placeholder="Type Here...." ></textarea>
              <input type="submit" value="post" />
            </form>
            <%}%>
            <div class="shadow-sm p-3 mb-5 bg-body rounded">
              <div id="posts-list-container">
                <ul>
                  <% for(post of post){%>
                    <%- include('_post') -%>
                  <%} %>
                </ul>
              </div>
            </div>

            
          </section>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="shadow-sm p-3 mb-5 bg-body rounded"> 
        <section id="user-friends">
          <h4>Friends</h4>
          <% for(u of all_users){%>
              <p>
                  <a style="color: blue;" href="/users/profile/<%= u.id%>"><%= u.name %></a>
              </p>
          <% } %>
      </section>
      </div>

    </div>
  </div>
</div>
   

    
   
  <%- include('_chat_box') -%>


  <!-- importing this script for creating the comments -->
  <script src="/js/home_post_comment.js" ></script>
  <script src="/js/home_post.js"></script>
  
  <!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
  <script src="js/toggle_likes.js"></script>
  <script>
      $('.toggle-like-button').each(function(){
          let self = this;
          let toggleLike = new ToggleLike(self);
      });
  </script>

  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"
  integrity="sha512-iWPnCISAd/J+ZacwV2mbNLCaPGRrRo5OS81lKTVPtRg1wGTC20Cfmp5Us5RcbLv42QLdbAWl0MI57yox5VecQg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
  <script src="/js/chat_engine.js"></script>

  <% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
    <% } %>
  